#media-iframe-text-2 .bg {
    background-image: url('../images/bg-4.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity:1;
}#action-img-text .bg-wrap {
    background-color: #ffbd00;
}#footer-logo-share .bg {
    background-image: url('../images/bg-sign.png');
    background-repeat: no-repeat;
    background-position: right bottom;
    opacity: 0.075;
}
