#action-img-text .bg-wrap {
    background-color: #ffbd00;
}#footer-logo-share--0 .bg {
    background-image: url('../images/bg-sign.png');
    background-repeat: no-repeat;
    background-position: right bottom;
    opacity: 0.075;
}
